In [29]:
from openpyxl import Workbook
from openpyxl import load_workbook
from openpyxl.utils import FORMULAE
from openpyxl.utils.dataframe import dataframe_to_rows
import pandas as pd

In [30]:
workbook = load_workbook(filename = "regextractt.xlsx")
workbook.sheetnames
sheet= workbook.active
col =  sheet["B5:B26"]
df = pd.DataFrame()

In [86]:
# 2) Do this for specific range (not for the range of whole column)

for row, cell in enumerate(list(sheet.columns)[2]):
      n = '=(A%d + B%d)' % (row, row)
      cell.value = n

df = pd.DataFrame(sheet.values).iloc[:10,:3]
df

           0          1           2
0  Pattern 1       None  =(A0 + B0)
1   "/\d{4}"       None  =(A1 + B1)
2       None       None  =(A2 + B2)
3       None       None  =(A3 + B3)
4          1   = A5 + 1  =(A4 + B4)
5          2   = A6 + 1  =(A5 + B5)
6          3   = A7 + 1  =(A6 + B6)
7          4   = A8 + 1  =(A7 + B7)
8          5   = A9 + 1  =(A8 + B8)
9          6  = A10 + 1  =(A9 + B9)

In [27]:
workbook.save("result.xlsx")